#container {
    /* border: 1px solid; */
    /* width: 85%; */
}

 #card {
     width: 294px;
     height: 333px;
     /* border: 1px solid black; */
     position: relative;
 }

 #card img {
     width: 100%;
     height: 80%;
     border-radius: 10px;
     aspect-ratio: 3/2;
     object-fit: cover;
     /* mix-blend-mode: color-burn; */
 }

 #card p {
     text-align: center;
     margin-top: 8px;
 }

 #card #discount {
     width: 45px;
     background: orangered;
     color: white;
     /* margin-left: 7px; */
     position: absolute;
     left: 2%;
     top: -2%;
 }